/* -- game elements -- */
.card {
    border:2px solid #000000;
    border-radius: 7px;
    display: block;
    position: absolute;
}

.draggable {
    cursor: grab;
}

.freecell {
    border:2px solid #a1a1a1;
    border-radius: 7px;
    z-index: -1;
}

.base {
    border:2px solid #a1a1a1;
    border-radius: 7px;
    z-index: -1;
}

.column {
    border:2px solid #a1a1a1;
    border-radius: 7px;
    z-index: -1;
    margin: auto;
}

/* game area */
#game_area {
    margin-top: 3.5em;
    margin-bottom: -1100px;
    height: 1100px;
    position: relative;
    padding-left: 5px;
}

#freecells {
    display: inline;
}

#bases {
    display: inline;
    float: right;
}

#columns {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#game_buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#game_buttons button {
    font-size: xx-large;
}

/* MENUs */
#top_menu {
    overflow: hidden;
    background-color: #00a5ff;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    display: flex;
}

#top_menu span {
    display: inline-block;
    font-size: 2em;
    margin: 0.2em;
}

#game_id_section {
    flex-grow: 1;
    max-width: 33ch;
    display: flex;
    font-size: large;
    margin: 0.8em;
}

#game_id_section input {
    flex: 1;
    margin-left: 3px;
}


/* side/bottom menu */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 6px;
}
  
.active_section, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active_section:after {
    content: "\2212";
}

.accordionable {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#edit_section {
    flex: none;
    display: flex;
    flex-direction: column;
    width: max-content;
}

#text_game {
    height: 24em;
    width: 32ch;
    max-width: 32ch;
    resize: none;
    overflow-y: hidden;
    background-color: #f5f5f5;
    tab-size: 2;
    flex: none;
    font-family: 'Courier New', Courier, monospace;
}

#edit_game {
    font-size: large;
    margin-bottom: 3px;
}

#main_menu {
    width: 38ch;
    display: flex;
    flex-direction: column;
}

.on_side {
    position: absolute;
    top: 0;
    height: 100vh;
    overflow: auto;
    z-index: 1;
}

.on_bottom {
    position: relative;
    margin: auto;
    z-index: 0;
}

.wrong_field {
    border-color: red;
    border-width: medium;
}

#solve_section {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 4vh;
}

#solve_section textarea {
    flex: 1;
    margin-bottom: 6px;
    resize: none;
}

#solve_section button {
    font-size: x-large;
}

/*-- Loading --*/
#centered_msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    padding: 5%;
    font-size: larger;
    width: fit-content;
}

#hide_all {
    position: fixed;
    left: 0px; 
    right: 0px; 
    top: 0px; 
    bottom: 0px; 
    background-color: white;
    z-index: 1000;
}

/* Clue */
.clue {
    box-shadow: 0px 0px 20px #00a5ff;
}
